[submodule "metadataFreeBSD_releng12.3"]
	path = metadataFreeBSD_releng12.3
	url = https://github.com/josemacan/metadataFreeBSD_releng12.3.git
[submodule "metadataFreeBSD_releng13"]
	path = metadataFreeBSD_releng13
	url = https://github.com/josemacan/metadataFreeBSD_releng13.git
